


.ListButton{
    background-color: white;

    /*shadow*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    /*shape*/
    border-radius: 4px;
    border:none;

    /*transform*/
    overflow:hidden;

    margin-top:20px;
    margin-bottom:0px;
    margin-left:5%;

    width:90%;
    height:30px;

    
    transition: all 0.1s;
}

.ListButton:hover {
    background-color: whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
}

.ListButton:active {
    background-color: #CCCCCC;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
}

.ListButton span {
  cursor: pointer;

  display:inline-block;
  position:relative;

  transition: 0.5s;

  font-family : "Lucida Console";
  font-size: 1.0em;
}