.HeadButton {
    color:#999999;

    display : block;
    height : 100%;
    width : 33.33vw;

    font: small-caps bold 32px/1.5 sans-serif;
    text-decoration: none;
    
    text-align: center;
    
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1), 0 0 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.1s;
}

.HeadButton:hover{
    background-color: #EEEEEE;
}

.HeadButton:active{
    background-color: #CCCCCC;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.19);
}