* {
  margin-top : 0px;
  margin-left : 0px;
  margin-bottom : 0px;
  margin-right : 0px;
}

body, html {
  width : 100%;
  height : 100%;
}

#background-fixed {
  position: fixed;
  width : 100%;
  height : 100%;
}

#main {
  font-family: "Oswald", cursive;
  position: absolute;
  width : 100%;
  height : 100%;
}

.header {
  position : relative;

  width : 100%;
  height : 100%;
}

.title {
  position : absolute;
  top : calc(50% - 20px);

  font-size : 20px;
  text-align: center;

  width : 100%;
  height : 100%;
}


.pannel {
  position : relative;


  width : 100%;
  max-width : 800px;

  margin-top : 25%;
  margin-bottom : 25%;
  margin-left : auto;
  margin-right : auto;

  overflow :hidden;
}

.pannel-title {
  position : relative;
  font-size : 30px;
  font-weight: bold;
  margin :0px;
  margin-bottom: 15px;
  width : auto;
  height : auto;
}

.pannel-board {
  background-color : #CCFFDD;
  margin: 0px;
  width : 100%;
}
