* {
  margin-top : 0px;
  margin-left : 0px;
  margin-bottom : 0px;
  margin-right : 0px;
}

body, html {
  overflow: hidden;
  width : 100%;
  height : 100%;
  color : #ff0000;
}


#header {
  width : 100%;
  height : 170px;
}

#div_label {
  width : 100%;
  height : 20px;
}

#div_top_menu {
  width : 100%;
  height : calc(100% - 20px);
}

#bodies {
  overflow:auto;
  width : 100%;
  height : calc(100% - 170px);
}

#div_left_menu {
  position: relative;
  float:left;
  width : 150px;
  height : 100%;
}

#div_main {
  position: relative;
  float:left;
  width : calc(100% - 150px);
  height : 100%;
}
