.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.background {
    position: relative;
    align-content: center;
    margin-top: max(-15vw, -15vh);
    margin-bottom: max(-10vw, -10vh);
    width: 100%;
    z-index: 0;
    aspect-ratio: 16/9;
}

.heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
}

.subheading {
    font-size: 1.25rem;
    text-shadow: 0rem 0.2rem 0.5rem #000000ee;
    color: #EEEEEE;
    z-index: 1;
}

.subMessage {
    z-index: 1;
}

.avatar {
    width: 15rem;
    z-index: 1;
    border-radius: 7.5rem;
    box-shadow: 0rem 0.5rem 1rem #000000ee;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;
    }

    .heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .subheading {
        font-size: 1.5rem;
    }
}